<table class="prop-table">
    <tr>
        <td><b>Category</b></td>
        <td>{{ .category }}</td>
    </tr>
    <tr>
        <td><b>BGG Link</b></td>
        <td><a href="{{ .bggurl }}" target="_blank">{{ .title }}⤤</a></td>
    </tr>
    <tr>
        <td><b>#Players</b></td>
        <td>{{ .players }}</td>
    </tr>
    <tr>
        <td><b>Designer</b></td>
        <td>{{ .designer }}</td>
    </tr>
    <tr>
        <td><b>Rating</b></td>
        {{ if .rating }}
        {{ if eq .rating "5" }}<td>*****</td>{{ end }}
        {{ if eq .rating "4" }}<td>****</td>{{ end }}
        {{ if eq .rating "3" }}<td>***</td>{{ end }}
        {{ if eq .rating "2" }}<td>**</td>{{ end }}
        {{ if eq .rating "1" }}<td>*</td>{{ end }}
        {{ else }}
        <td></td>
        {{ end }}
    </tr>
    <tr>
        <td><b>Favourite</b></td>
        <td>{{ .star }}</td>
    </tr>
</table>
