<table class="prop-table">
    <tr>
        <td><b>Author</b></td>
        <td>{{ .author }}</td>
    </tr>
    <tr>
        <td><b>Language</b></td>
        <td>{{ .lang }}</td>
    </tr>
    <tr>
        <td><b>Edition</b></td>
        <td>{{ .edition }}</td>
    </tr>
    <tr>
        <td><b>Completed</b></td>
        <td>{{ if .dateCompleted }}Yes{{ else }}{{ .completed }}{{ end }}</td>
    </tr>
    <tr>
        <td><b>Date completed</b></td>
        <td>{{ if .dateCompleted }}{{ .dateCompleted }}{{ else }}{{ if eq .completed "Yes" }}unknown{{ end }}{{ end }}</td>
    </tr>
</table>
