<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ if .Customizer.Test "@enable-pretty-style" }}{{ template "style-pretty.html" .Customizer }}{{ else }}{{ template "style-minimal.html" }}{{ end }}
    <title>{{ .Title }}</title>
</head>
<body>
    <header>
        <b><a href="/collections">
            {{ if .Customizer.Test "@enable-kanji" }}池 {{ end }}collections
        </a></b> ⋅
        <b><a href="/tags">
            {{ if .Customizer.Test "@enable-kanji" }}漁 {{ end }}tags
        </a></b> ⋅
        <b><a href="/items">
            {{ if .Customizer.Test "@enable-kanji" }}鯉 {{ end }}items
        </a></b>
    </header>

    <main>
        <!-- Title -->
        {{ if .Supertitle }}<h4>{{ .Supertitle }}</h4>{{ end }}
        <h1>{{ .Title }}</h1>

        <!-- Tags -->
        {{ if not .Data.HideTags }}{{ with $tags := .Data.Tags }}<div class="tag-list">{{ range $tags }}
            <a class="tag-link" href="/tags/{{ . }}">{{ . }}</a>{{ end }}
        </div>{{ end }}{{ end }}

<!----> {{ if eq .Key "@collections" }}<div class="item-list">
        {{ range $key, $value := .Data.Ref }}
        <a href="/collections/{{ $key }}">{{ $value }}</a>
        {{ end }}</div>
<!----> {{ else if eq .Key "@tags" }}
        <table class="of-tags">
        {{ range $key, $value := .Data.Ref }}
        <tr>
            <td><a class="tag-link" href="/tags/{{ $key }}">{{ $key }}</a></td>
            <td>{{ $value }} items</td>
        </tr>
        {{ end }}
        </table>
<!----> {{ else if eq .Key "@catalogue" }}
        {{ range $groupLabel, $group := .Data.Groups }}
        {{ if $.Data.MultiGroup }}<h3>{{ $groupLabel }}</h3>{{ end }}
        <div class="item-list">{{ range $group }}
            <a href="/items/{{ .ID }}">{{ .Label }}</a>{{ end }}
        </div>
        {{ end }}
<!----> {{ else if eq .Key "@not-found" }}
        <p>{{ .ErrorMessage }}</p>
<!----> {{ else if eq .Key "@books/item" }}
        {{ template "books.html" .Data.Properties }}
<!----> {{ else if eq .Key "@games/item" }}
        {{ template "games.html" .Data.Properties }}
<!----> {{ else if eq .Key "@boardgames/item" }}
        {{ template "boardgames.html" .Data.Properties }}
<!----> {{ else }}{{ with $props := .Data.Properties }}
        <table class="prop-table">{{ range $key, $value := $props }}{{ if ne $key "collections" }}{{ if ne $key "tags" }}
            <tr>
                <td><b>{{ $.Customizer.Capitalize $key }}</b></td>
                <td>{{ $value }}</td>
            </tr>{{ end }}{{ end }}{{ end }}
        </table>{{ end }}
<!----> {{ end }}
    </main>

    <footer>{{ if .Customizer.Test "@enable-repository-link" }}
        <b><a href="https://github.com/cicovic-andrija/koipond" target="_blank">
            {{ if .Customizer.Test "@enable-kanji" }}機 {{ end }}code
        </a></b>{{ end }}
    </footer>
</body>
</html>
